body {
  color: cornflowerblue;
  background-color: blue;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

p {
  display: hidden;
}

button {
  width: 50px;
  position: absolute;
  bottom: 5%;
  right: 10%;
  background-color: aliceblue;
  font-size:0.8rem;
  cursor: pointer;
}

.drop {
  width: 20px;
  height: 20px;
  position: fixed;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  z-index: -1;
  top: -1vh;
  font-size: 2rem;
  background-color: rgba(0, 255, 255, 0.406);
  transform: translateY(0);
  animation: fall 10s linear forwards;
  transform: rotate(-45deg);

  /* Remove ability to highlight drops */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes fall {
  to {
    transform: translateY(101vh);
  }
}
